body {
    background-color: #fffaf7;
}

main {
    max-width: 70ch;
    padding: 2ch;
    margin: auto;
    font-family: 'Noto Sans', sans-serif;

}

a {
    text-decoration: none;
    outline: 0;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 1rem 0;
}

li {
    margin-bottom: 0.5rem;
}

input[type=text], textarea {
    width: 100%;
}

input[type=file] {
    display: block;
}

