<!DOCTYPE html>
<html>
<title>Z H: {{ post.title }}</title>
<head>
<link rel="stylesheet" href="/bootstrap-4.2.1-dist/css/bootstrap.min.css">
<script src="/bootstrap-4.2.1-dist/js/bootstrap.min.js"></script>
</head>
<body>
        <nav class="navbar sticky-top navbar-light bg-light">
          <a class="navbar-brand" href="#">ZH</a>
        </nav>
        <div class="container">
            <p class="lead">Because it's important to document things.</p>
            {{{ post.content }}}
        </div>
        
</body>
</html>